*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
#nav{
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;


}
.circle{
    height: 23px;
    width: 23px;
    background-color: black;
    border-radius: 50%;

}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
#nav-part2 h4 {
    font-size: 10px;
    font-weight: 600;

}
#nav-part2 h4 span{
    color: grey;
    margin-left: 15px;
}
#nav h5{
    display: none;
}
#nav2{
    height: 50px;
    width: 100%;
    background-color: rgb(249, 236, 236);
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
}
#nav2 h3{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;


}
#content{
    height: calc(100% - 150px);
    width: 100%;
    
}
#text-content{
    height: 50%;
    width: 100%;
    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto ;
}
.element{
    flex-shrink: 0;
    height: 100%;
    width: 50%;
    

    
    display: flex;
    align-items: center;    
    justify-content: center;
}
.element h2{
    
    font-size: 100px;
    
    font-weight: 100;

}
#text-content h2{
    
    font-size: 6vw;
    font-weight: 300;
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;

}
#text-content::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    
}


#image-content {
    height: 60%;
    width: 100%;
    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

  
   
}
#image-content img{
   
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
   
    
   
  
}
#image-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
 
}

#image-content::-webkit-scrollbar-thumb{
    background-color: rgb(7, 7, 6);
    
}
@media (max-width: 600px) {
    
    #nav{
        height: 70px;
        padding: 0 10xpx;
    
    }
    #nav-part1{
        gap: 0px; 
    }
    .circle{
        height: 16px;
        width: 16px;
        background-color: black;
        border-radius: 50%;
    
    }
    #nav-part2{
       align-items: center;
        gap: 20px;
    
    }
    #nav-part2 h4 {
        font-size: 13px;
        display: none;
        font-weight: 600;
    
    }
    #nav-part2 h4:nth-child(1){
        display: initial;
        margin: 25px;
    }
    #nav-part2 h4 span{
        color: grey;
      
        margin-left: 10px;
    }
    #nav h5{
        display: initial;
    }
    #nav  h5 i{
        font-size: 20px;
    }
    #nav2{
        height: 55px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 0 30px;
        border: 1px solid black;
    }
    #nav2 h3{
        font-size: 2vw;
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(32, 31, 31);
    
    }
    #content{
        height: calc(100% - 125px);
        width: 100%;
        
    }
    #text-content{
        height: 40%;
        width: 100%;
        
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto ;
    }
    .element{
        flex-shrink: 0;
        height: 100%;
        width: 67%;
        
        
        display: flex;
        align-items: center;    
        justify-content: center;
    }
    .element h2{
        
        font-size: 12vw;
        
        font-weight: 100;
    
    }
    #text-content h2{
        
        font-size: 10vw;
        font-weight: 300;
    }
    #text-content::-webkit-scrollbar{
        background-color: transparent;
        height: 4px;
    
    }
    #text-content::-webkit-scrollbar-thumb{
        background-color: rgb(0, 0, 0);
        
    }
    
    
    #image-content {
        height: 60%;
        width: 100%;
        
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 20px;
      
       
    }
    #image-content img{
       
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border: 2px solid rgb(255, 231, 231);
        border-radius: 10px;
        padding: 20px;
      
    }
    #image-content::-webkit-scrollbar{
        background-color: transparent;
        height: 7px;
    
    }
    
    #image-content::-webkit-scrollbar-thumb{
        background-color: rgb(9, 9, 9);
        
    }
    
     
}



 